

ul.images {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 900px;
  overflow-x: auto;
}

ul.images li {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
}

#container{
  display: flex;
  flex-direction: row;
}
